{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.rental_list'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-start py-4"><h2 class="mb-4 text-primary">{{ 'title.all_rentals_list'|trans }}</h2></div>
        <div class="col text-end py-4"><a class="btn btn-styled" href="{{ url('rental_pending_approval') }}" title="{{ 'action.pending_approval'|trans }}">{{ 'action.pending_approval'|trans }}</a>
       <a class="btn btn-styled" href="{{ url('overdue_rentals') }}" title="{{ 'action.overdue_rentals'|trans }}">{{ 'action.overdue_rentals'|trans }}</a>
    </div>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'rental.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.owner'|trans, 'rental.user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title')  }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.rentalDate'|trans, 'rental.rentalDate')  }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.returnDate'|trans, 'rental.returnDate')  }}</th>
                <th>{{ 'label.comment'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.status'|trans, 'rental.status')  }}</th>

            </tr>
            </thead>
            <tbody>
            {% for rental in pagination.items %}
                <tr>
                    <td>{{ rental.id }}</td>
                    <td>{{ rental.owner.email }}</td>
                    <td>{{ rental.book.title }}</td>
                    <td>{{ rental.rentalDate|format_date('long') }}</td>
                    <td>
                        {% if rental.returnDate is not null %}
                            {{ rental.returnDate|format_date('long') }}
                        {% else %}
                            {{ 'label.unspecified'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ rental.comment }}</td>
                    <td>
                        {%  if rental.status == true and rental.returnDate < date() %}
                            {{ 'label.overdue'|trans }}
                            {% elseif rental.status == true %}
                            {{ 'label.rented'|trans  }}
                        {% else %}
                            {{ 'label.pending'|trans  }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('APPROVE', rental) %}
                        <a class="btn btn-styled" href="{{ url('rental_approve', {id: rental.id}) }}" title="{{ 'action.rental_approve'|trans }}">{{ 'action.rental_approve'|trans }}</a>
                        <a class="btn btn-styled" href="{{ url('rental_deny', {id: rental.id}) }}" title="{{ 'action.rental_deny'|trans }}">{{ 'action.rental_deny'|trans }}</a>
                        {% else %}
                            {{ 'label.approved'|trans }}
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}

{% endblock %}