{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.rental_list'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-start py-4"><h2 class="mb-4 text-primary">{{ 'title.rental_list'|trans }}</h2></div>
    </div>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'rental.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.owner'|trans, 'rental.user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title')  }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.rentalDate'|trans, 'rental.rentalDate')  }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.returnDate'|trans, 'rental.returnDate')  }}</th>
                <th>{{ 'label.comment'|trans }}</th>
                <th>{{ 'label.status'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for rental in pagination.items %}
                <tr>
                    <td>{{ rental.id }}</td>
                    <td>{{ rental.owner.email }}</td>
                    <td>{{ rental.book.title }}</td>
                    <td>{{ rental.rentalDate|format_date('long') }}</td>
                    <td>
                        {% if rental.returnDate is not null %}
                            {{ rental.returnDate|format_date('long') }}
                        {% else %}
                            {{ 'label.unspecified'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ rental.comment }}</td>
                    <td>
                        {%  if rental.status == true %}
                            {{ 'label.rental_approved'|trans }}
                        {% else %}
                            {{ 'label.pending_approval'|trans }}
                        {% endif %}
                    </td>
                     <td>
                         {%  if rental.status == true %}
                        <a class="btn btn-styled" href="{{ url('return', {id: rental.id}) }}" title="{{ 'action.book_return'|trans }}">{{ 'action.book_return'|trans }}</a>
                             {% else %}
                                 <a class="btn btn-styled" href="{{ url('return', {id: rental.id}) }}" title="{{ 'action.rental_cancel'|trans }}">{{ 'action.rental_cancel'|trans }}</a>
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}

{% endblock %}