{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    <div class="main-content pb-4">
        <div class="row">
            <div class="col text-start py-4">
                <h2 class="mb-4 text-primary">{{ 'title.category_list'|trans }}</h2>
            </div>
            {% if is_granted('CREATE') %}
                <div class="col text-end py-4">
                    <a class="btn btn-outline-primary" href="{{ url('category_create') }}" title="{{ 'action.create_category'|trans }}">
                        {{ 'action.create_category'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>

        {% if pagination is defined and pagination.items|length %}
            <div class="dropdown text-end">
                <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'action.sort'|trans }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.title') }}</a></li>
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'category.createdAt') }}</a></li>
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt') }}</a></li>
                </ul>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 align-items-stretch">
                {% for category in pagination.items %}
                <div class="col">
                    <div class="category-item border rounded p-3 d-flex flex-column h-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="mb-4">
                                    <a class="text-decoration-none" href="{{ url('category_show', {id: category.id}) }}">
                                        {{ category.title }}
                                    </a>
                                </h3>
                                <p><b>{{ 'label.created_at'|trans }}</b>: {{ category.createdAt|format_date('long') }}</p>
                                <p><b>{{ 'label.updated_at'|trans }}</b>: {{ category.updatedAt|format_date('long') }}</p>
                                <p><b>{{ 'label.item_author'|trans }}</b>: {{ category.itemAuthor.firstName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.empty_list'|trans
                } %}
            </p>
        {% endif %}
    </div>
{% endblock %}
