{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_list'|trans }}
{% endblock %}

{% block body %}
    <div class="main-content pb-4">
        <div class="row">
            <div class="col text-start py-4">
                <h2 class="mb-4 text-primary">{{ 'title.book_list'|trans }}</h2>
            </div>
            {% if is_granted('CREATE') %}
                <div class="col text-end py-4">
                    <a class="btn btn-outline-primary" href="{{ url('book_create') }}" title="{{ 'action.create_book'|trans }}">
                        {{ 'action.create_book'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="form-group float-sm-right text-center">
            {{ form_start(form, { 'attr': { 'class': 'mb-4' } }) }}
            {{ form_widget(form.titleSearch, { 'attr': { 'class': 'col form-control mb-3'} }) }}
            {{ form_widget(form.authorSearch, { 'attr': { 'class': 'col form-control mb-3' } }) }}
            <input type="submit" value="{{ 'action.search'|trans }}" class="btn btn-primary"/>
            {{ form_end(form) }}

        </div>

        {% if pagination is defined and pagination.items|length %}
            <div class="dropdown text-end">
                <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'action.sort'|trans }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title') }}</a></li>
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.author'|trans, 'book.author') }}</a></li>
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title')  }}</a></li>
                    <li><a class="dropdown-item" {{ knp_pagination_sortable(pagination, 'label.availability'|trans, 'book.available', {'defaultDirection': 'desc'})  }}</a></li>
                </ul>
            </div>
            <div>
                {% for book in pagination.items %}
                    <div class="book-item border rounded p-3 mb-4">
                        <div class="row">
                            {% if book.coverFilename is defined and book.coverFilename|length %}
                                <div class="col-md-2 mb-3">
                                    <a href="{{ url('book_show', {id: book.id}) }}">
                                        <img src="{{ asset(covers_directory~book.coverFilename) }}" class="img-fluid rounded" alt="{{ book.title }}">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-md-10">
                                <h3 class="mb-4">
                                    <a class="text-decoration-none" href="{{ url('book_show', {id: book.id}) }}">
                                        {{ book.title }}
                                    </a>
                                </h3>
                                <p><b>{{ 'label.author'|trans }}</b>: {{ book.author }}</p>
                                <p><b>{{ 'label.release_date'|trans }}</b>: {{ book.releaseDate|format_date('long') }}</p>
                                <p><b>{{ 'label.category'|trans }}</b>:
                                    <a class="btn btn-outline-primary" href="{{ url('book_index', {'categoryId': book.category.id}) }}" title="{{ book.category.title }}">
                                        {{ book.category.title }}
                                    </a>
                                </p>
                                <p><b>{{ 'label.tags'|trans }}</b>:
                                    {% if book.tags is defined and book.tags|length %}
                                        {% for tag in book.tags %}
                                            <a class="btn btn-outline-primary" href="{{ url('book_index', {'tagId': tag.id}) }}" title="{{ tag.title }}">
                                                {{ tag.title }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </p>
                                <p>
                                    {% if book.available == true %}
                                        <span style="color: green;"> {{ 'label.available'|trans }}</span>
                                    {% else %}
                                    <span style="color: red;">  {{ 'label.not_available'|trans }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.empty_list'|trans
                } %}
            </p>
        {% endif %}
    </div>
{% endblock %}
