{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_view'|trans({'%title%': book.title|default('')}) }}
{% endblock %}

{% block body %}
    <h2 class="p-4 text-primary">{{ 'title.book_view'|trans({'%title%': book.title|default('')}) }}</h2>
    <div class="d-flex p-3">
        <div>
            {% if book.coverFilename is defined and book.coverFilename|length %}
                <img class="nav-profile-img" src="{{ asset(covers_directory~book.coverFilename) }}">
            {% endif %}
        </div>
        <div class="px-4">
        {% if book is defined and book|length %}
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ book.id }}</dd>
                <dt>{{ 'label.release_date'|trans }}</dt>
                <dd>{{ book.releaseDate|format_date('long') }}</dd>
                <dt>{{ 'label.title'|trans }}</dt>
                <dd>{{  book.title }}</dd>
                <dt>{{ 'label.author'|trans }}</dt>
                <dd>{{  book.author }}</dd>
            {% if rating is defined and rating|length %}
            <dt>{{ 'label.rating'|trans }}</dt>
            <dd>{{  rating }}</dd>
                {% endif %}
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{  book.description|markdown_to_html }}</dd>
                <dt>{{ 'label.category'|trans }}</dt>
                <dd>{{  book.category.title }}</dd>
                <dt>{{ 'label.tags'|trans }}</dt>
        {% if book.tags is defined and book.tags|length %}
           <dd> {% for tag in book.tags %}
                 {{ tag.title }}
               {% endfor %}</dd>
            {%  endif %}
            <dt>{{ 'label.actions'|trans }}</dt>
           <dd>
                {% if is_granted('EDIT', book) %}
                    <a class="btn btn-styled" href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}">{{ 'action.edit'|trans }}</a>
                {% endif %}
                {% if is_granted('DELETE', book) %}
                    <a class="btn btn-styled" href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action.delete'|trans }}">{{ 'action.delete'|trans }}</a>
                {% endif %}
               {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') and book.isAvailable() %}
                   <a class="btn btn-styled" href="{{ url('rent', {id: book.id}) }}" title="{{ 'action.rent'|trans }}">{{ 'action.rent'|trans }}</a>
               {% endif %}
               {% if is_granted('RATE', book) %}
                   <a class="btn btn-styled" href="{{ url('book_rate', {id: book.id}) }}" title="{{ 'action.rate'|trans }}">{{ 'action.rate'|trans }}</a>
               {% endif %}
               {% if is_granted('EDIT', rating) %}
                   <a class="btn btn-styled" href="{{ url('rating_edit', {id: rating.id}) }}" title="{{ 'action.edit_rating'|trans }}">{{ 'action.edit_rating'|trans }}</a>
               {% endif %}
               {% if is_granted('DELETE', rating) %}
                   <a class="btn btn-styled" href="{{ url('rating_delete', {id: rating.id}) }}" title="{{ 'action.delete_rating'|trans }}">{{ 'action.delete_rating'|trans }}</a>
               {% endif %}
           </dd>

            <p>
                <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </p>
        {% else %}
            <p>
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.book_not_found'|trans
                } %}
            </p>
            </dl>
        {% endif %}
        </div>
    </div>
{% endblock %}