{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_view'|trans({'%title%': book.title|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_view'|trans({'%title%': book.title|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dd class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ book.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  book.author }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  book.category.title }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
    {% if book.tags is defined and book.tags|length %}
        {% for tag in book.tags %}
             {{ tag.title }}
            {# {{ book.tags.title|join(', ') }} #}
            {% endfor %}
        {%  endif %}
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.book_not_found'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}