{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-start py-4"><h2 class="mb-4 text-primary">{{ 'title.user_list'|trans }}</h2></div>
    </div>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.owner'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'user.firstName')  }}</th>
                <th>{{ 'label.manage_user' }}</th>

            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td><a class="btn btn-styled" href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action.manage_user'|trans }}">{{ 'action.manage_user'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}

{% endblock %}