{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_show'|trans({'%firstName%': user.firstName|default('')}) }}
{% endblock %}

{% block body %}
    <div class="col text-start py-4"><h2 class="mb-4 text-primary">{{ 'title.user_show'|trans({'%fisrtNamee%': user.firstName|default('')}) }}</h2></div>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
        <dt>{{ 'label.id'|trans }}</dt>
        <dd>{{ user.id }}</dd>
        <dt>{{ 'label.firstName'|trans }}</dt>
        <dd>{{ user.firstName }}</dd>
        <dt>{{ 'label.email'|trans }}</dt>
        <dd>{{ user.email }}</dd>


        <dd>
                <a class="btn btn-styled btn-sm" href="{{ url('password_edit', {id: user.id}) }}" title="{{ 'action.edit_password'|trans }}">{{ 'action.edit_password'|trans }}</a>
        </dd>
        <dd>
            <a class="btn btn-styled btn-sm" href="{{ url('details_edit', {id: user.id}) }}" title="{{ 'action.edit_details'|trans }}">{{ 'action.edit_details'|trans }}</a>
        </dd>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.user_not_found'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}