{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid px-0">
    <div class="row">
        <div class="col text-start py-4 "><h2 class="mb-4 text-primary">{{ 'title.tag_list'|trans }}</h2></div>
        {% if is_granted('CREATE') %}
            <div class="col text-end py-4"><a class="btn btn-outline-primary" href="{{ url('tag_create') }}" title="{{ 'action.create_tag'|trans }}">{{ 'action.create_tag'|trans }}</a></div>
        {% endif %}
    </div>
    {% if pagination is defined and pagination.items|length %}
<div class="px-sm-0">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>


            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td><a class="text-decoration-none" href="{{ url('tag_show', {id: tag.id}) }}">{{ tag.title }}</a></td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
</div>
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}